@{
    ViewBag.Title = "Dang Quang Dung";
}
<h2>@ViewBag.Title.</h2>
<h3>Bai On Tap Dang Quang Dung </h3>

<address>
   K22CNT1-Dang Quang Dung
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dangquangdung24082004@gmail.com">dangquangdung24082004@gmail.com</a><br />
    <strong>Ca Nhan:</strong> <a href="mailto:dangquangdung24082004@gmail.com">dangquangdung24082004@gmail.com</a>
</address>